.editorContainer {
    /* background-color: tomato; */
    min-height: 500px;
    margin: auto;
    width: 60vw;
    border: 3px solid var(--primary-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}