.toolbar {
    margin-bottom: 20px;
    border: 1px solid white;
    min-height: 50px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    /* justify-content: space-between; */
}